<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('appStyle') }}
    </head>
    <nav class="navbar navbar-expand-lg p-3 pb-lg-5">
        <a class="navbar-brand" href="{{ url('article_index') }}">Blog Symfony</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="articlesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Articles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="articlesDropdown">
                        <a class="dropdown-item" href="{{ url ('article_index')}}">Voir les articles</a>
                        <a class="dropdown-item" href="{{ url ('article_new')}}">Ecrire un article</a>
                        <div class="dropdown-divider"></div>
                        {{ render(controller('App\\Controller\\ArticleController::getLastArticlesForNavigation')) }}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <a class="dropdown-item" href="{{ url ('category_index')}}">Gérer les catégories</a>
                        <a class="dropdown-item" href="{{ url ('category_new')}}">Ajouter une catégories</a>
                        <div class="dropdown-divider"></div>
                        {{ render(controller('App\\Controller\\CategoryController::getLastCategoriesForNavigation')) }}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
    {% block javascripts %}{% endblock %}
    {{ encore_entry_script_tags('app') }}
</html>
