{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_index') }}" class="btn btn-info mt-2">back to list</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
